/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
  margin: 1%;
  min-width: 490px;
  
}

.sr-only{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
 }





#container{
	display: grid; 
	grid-template-columns: 100%;
	grid-template-rows: .5fr 1fr .4fr .6fr 1.2fr 2fr 2fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-areas: "header"
						 "hero"
						 "news"
						 "fruits_picture" 
						 "join"	
						 "about"
						 "weather"
						 "footer"
						 ;
 }


 h1{
	font-size: 2rem;
	color: white;
	font-family: cursive;
}

h2{
	font-size: 0.7rem;
	color: white;
	margin-left: 0.5rem;
	font-family: cursive;
}
 
h3{
	font-size: 1rem;
	color: white;
	margin-left: 0.5rem;
	font-family: cursive;
}

h4{
	font-size: 0.7rem;
	color: white;
	margin-left: 0.5rem;
	font-family: cursive;
}


/*---------------------HEADER_____________________________*/


.header{
	background-image: linear-gradient( to right, #149c3d,  #8cce95);
	text-align: center;
	border: 2px solid white;
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr .6fr 1fr;
	grid-template-rows: 2fr .5fr;
	grid-column-gap: 10px;
	grid-template-areas: "himage title social"
						 "nav nav nav";
}


.himage{grid-area: himage;
	margin-top: 1rem;
}


#imglogo{width: 100px;
}

.title{
	grid-area: title;
	margin-right: 1rem;
	font-family: cursive;
}




.social{
	grid-area: social;
	width: 20%;
	display: flex;
	margin:auto;
}

.box-p{
	font-size: .8rem;
	color: black;
	text-align: center;
	margin-bottom: 5rem;
	margin:.5rem;
}


a{
	font-size: 1rem;
	color: white;
	font-family: cursive;
  }

  .nav{
	grid-area: nav;
	display: block;
	margin: auto;
  }

  #ulList{
	list-style:none;
	float:center;
	width: 100%;
  }

  #ulList li{
	position:relative;
	float:left;
	}




svg{
	margin: .5rem;
	display: flex;
	width: 2rem;
	height: 2rem;
}

#ulList li a{
	color:#333;
	text-decoration:none; 
	padding:5px 10px; 
	display:block;
}

#ulList li a:hover{
background:#333;
color:#fff;
text-shadow:0px 0px 5px #fff;
}





#button span:nth-child(1) {display: block;}
#button span:nth-child(2) {display: none;}
#button.open span:nth-child(1) {display: none;}
#button.open span:nth-child(2) {display: block;}





/*----------------------------------------------------------*/

/*-----------------------MAIN-------------------------------*/




#cover_image{
	grid-area: hero;
    width: 100% ;
    height: 100%;
}

#welcomePictxt{
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
    font-size: 2rem;
	text-align: center;
	color: white;
	margin:-140px 0 0 -220px;  
	border: solid 2px black;  
	border-radius: 10px;
	font-weight: bold;
	font-family: cursive;
	background-image: linear-gradient( to right, #149c3d,  #8cce95);

}



.joinBtnP{
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
	border: 2px solid #000000;
	margin:40px 0 0 -90px;   
	background-image: linear-gradient( to right, #149c3d,  #8cce95);
	color: white;
	border-radius: 1rem;
	padding: .55rem 0.55rem .55rem .55rem;
	width: 96%;
	max-width: 12rem;
	max-height: 3rem;
    font-size: 1.1rem;
	font-family: cursive;

}



.news{
	grid-area: news;
	text-align: center;
}

.boxNews{
	text-align: center;
	font-style: italic;
}


.box-titles, #joinTxt{
	font-size: 1.2rem;
	color: white;
	text-align: center;
	margin: auto;
	background-color: #149c3d;

}


.fruits_picture{
	grid-area: fruits_picture;
	margin-top: -2rem;
}

#fruits1{
	max-width:60%;
	margin: auto;
	display: block;
}




.join{
	grid-area: join; 
}
	

#juice_image{
	grid-area: hero;
    width: 100% ;
    height: 100%;
	margin-top: 3rem;
}



.joinBtn2{
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
	border: 2px solid #000000;
	margin:200px 0 0 -90px;   
	background-image: linear-gradient( to right, #149c3d,  #8cce95);
	color: white;
	border-radius: 1rem;
	padding: .55rem 0.55rem .55rem .55rem;
	width: 96%;
	max-width: 12rem;
	max-height: 3rem;
    font-size: 1.1rem;
	font-family: cursive;
}



.about{
	grid-area: about;
}

#drinkTxt{
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
    font-size: 1rem;
	text-align: center;
	color: black;
	margin:-170px 0 0 -220px;  
	font-weight: bold;
	font-family: cursive;

}


#carlsbad_image{
	width: 60%;
	margin: auto;
	display: block;
	margin-top: 1rem;
}


#MapLabel{
	text-align: center;
}




/*----------------------------------------------------------*/




/*-----------------------Weather-------------------------------*/


.weather {
	grid-area: weather;
	background-color: #b6e4bc;
	padding: 5px;
	margin-top: 3rem;
   }
  
   .townWeather {
	text-align: center;
   }


.weatherContainer {
	display: flex;
  }
  
  .weatherContent {
	flex: 1 1 100%;
  }
  
  .foreContainer {
	display: flex;
  }
  
  .foreContainer1 {
	flex: 1 1 100%;
	border: 2px solid black;
	font-family: cursive;
	padding: 7px;
  }
  
  .foreContent {
	align-content: center;
  }
  
  .weathertoday {
	padding: 3% 0px;
	text-align: center;
	margin: auto;
	
  }
  
  .threeTitle, .cTemp{
	text-align: center;
	color: #000000;
	font-size: 2rem;
  }
  
  .townWeather {
	color:#166831;
  }


#weathertitle{
	grid-area: weathertitle;
	font-size: 1.5rem;
}


.imageIcon{
	width: 60px;
}

.condition, .humidity{
	font-family: cursive;
}

#linkW{
	margin: auto;
}

/*----------------------------------------------------------*/

/*-----------------------Footer-------------------------------*/




.footer{
	background-image: linear-gradient( to right, #149c3d,  #8cce95);
	text-align: center;
	border: 2px solid white;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr .5fr;
	grid-column-gap: 10px;
	grid-template-areas: "fimage"
						 "ftitle"
						 "contactinfo"
						 "developerinfo";
}

.fimage{grid-area: fimage;
	margin-top: 1rem;
}

.ftitle{grid-area: ftitle;
font-size: 1rem;
justify-content: center;

}

.contactinfo{ grid-area: contactinfo;}

.developerinfo{ grid-area: developerinfo;
	font-size: 0.7rem;
	color: white;
	margin-left: 0.5rem;
}


 .item{
	background-color: white;
    min-height: 50px;
	max-height: 400px;
    min-width: 50px;
    position: relative;
    font-weight: bold;
    color: black;
    font-size: 20px;
 }

 .subitem{
    color: black;
    font-size: 20px;
 }

 


