/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
  margin: 1%;
  min-width: 450px;
  
}

.sr-only{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
 }



#container{
	display: grid; 
	grid-template-columns: 100%;
	grid-template-rows: 1fr .4fr .4fr 1.2fr 1.3fr 1.3fr .7fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-areas: "hero"
						 "news"
						 "fruits_picture" 
						 "join"	
						 "about"
						 "weather"
						 "footer";
 }

 .aTitle{
	display: none;
 }


 h1{
	font-size: 2rem;
	color: white;
	font-family: cursive;
}

h2{
	font-size: 0.7rem;
	color: white;
	margin-left: 0.5rem;
	font-family: cursive;
}
 
h3{
	font-size: 1rem;
	color: white;
	margin-left: 0.5rem;
	font-family: cursive;
}

h4{
	font-size: 0.7rem;
	color: white;
	margin-left: 0.5rem;
	font-family: cursive;
}


/*---------------------HEADER_____________________________*/


.header{
	background-image: linear-gradient( to right, #149c3d,  #8cce95);
	text-align: center;
	border: 2px solid white;
	display: grid;
	grid-template-columns: 1fr .6fr 1fr;
	grid-template-rows: 2fr .5fr;
	grid-column-gap: 10px;
	grid-template-areas: "himage title social"
						 "nav nav nav";
}


.himage{grid-area: himage;
	margin-top: 1rem;
}


#imglogo{width: 100px;
}

.title{
	grid-area: title;
	margin-right: 1rem;
	font-family: cursive;
}

.social_icon{
	margin-left: 1rem;
}


.social{
	grid-area: social;
	width: 100%;
	display: flex;
	margin:auto;
	margin-left: 4rem;
}

.box-p{
	font-size: .8rem;
	color: black;
	text-align: center;
	margin-bottom: 5rem;
	margin:.5rem;
}


a{
	color: white;
	font-family: cursive;
  }

  .nav{
	grid-area: nav;
	display: block;
	margin: auto;
	font-size: 1.5rem;
  }

  #ulList{
	list-style:none;
	float:center;
	width: 100%;
  }

  #ulList li{
	position:relative;
	float:left;
	}




svg{
	margin: .5rem;
	display: flex;
	width: 2rem;
	height: 2rem;
}

#ulList li a{
	color:#333;
	text-decoration:none; 
	padding:5px 10px; 
	display:block;
}

#ulList li a:hover{
background:#333;
color:#fff;
text-shadow:0px 0px 5px #fff;
}





#button span:nth-child(1) {display: block;}
#button span:nth-child(2) {display: none;}
#button.open span:nth-child(1) {display: none;}
#button.open span:nth-child(2) {display: block;}





/*----------------------------------------------------------*/

/*-----------------------MAIN-------------------------------*/



.hero{
    margin-top: 1rem;
    grid-area: hero;
  }

#cover_image{
	grid-area: hero;
    width: 100% ;
    height: 100%;
}

#welcomePictxt{
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
    font-size: 2rem;
	text-align: center;
	color: white;
	margin:-140px 0 0 -220px;  
	border: solid 2px black;  
	border-radius: 10px;
	font-weight: bold;
	font-family: cursive;
	background-image: linear-gradient( to right, #149c3d,  #8cce95);

}



.joinBtnP{
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
	border: 2px solid #000000;
	margin:40px 0 0 -90px;   
	background-image: linear-gradient( to right, #149c3d,  #8cce95);
	color: white;
	border-radius: 1rem;
	padding: .55rem 0.55rem .55rem .55rem;
	width: 96%;
	max-width: 12rem;
	max-height: 3rem;
    font-size: 1.1rem;
	font-family: cursive;

}



.news{
	grid-area: news;
	text-align: center;
	font-family: cursive;
}

.boxNews{
	text-align: center;
	font-style: italic;
}


.box-titles, #joinTxt{
	font-size: 1.2rem;
	color: white;
	text-align: center;
	margin: auto;
	background-color: #149c3d;

}


.fruits_picture{
	grid-area: fruits_picture;
	margin-top: -2rem;
}

#fruits1{
	max-width:28%;
	margin: auto;
	display: block;
}

.city{
	display: none;
}




.join{
	grid-area: join; 
}
	

#juice_image{
	grid-area: hero;
    width: 100% ;
    height: 100%;
}



.joinBtn2{
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
	border: 2px solid #000000;
	margin:200px 0 0 -90px;   
	background-image: linear-gradient( to right, #149c3d,  #8cce95);
	color: white;
	border-radius: 1rem;
	padding: .55rem 0.55rem .55rem .55rem;
	width: 96%;
	max-width: 12rem;
	max-height: 3rem;
    font-size: 1.1rem;
	font-family: cursive;
	animation: animate 1s linear infinite;
}



@keyframes animate {
	0% {
		color: red;
	}
  
	50% {
		color: #000000;
	}
  
	100% {
		color: red;
	}
  }


.about{
	grid-area: about;
	margin-top: 1rem;
}

#drinkTxt{
    position:absolute;
    z-index:1;
    top:50%;
	margin:-300px 0 0 0;  
    font-size: 1rem;
	text-align: center;
	color: black;
	font-weight: bold;
	font-family: cursive;

}


#carlsbad_image{
	width: 60%;
	margin: auto;
	display: block;
	margin-top: 1rem;
}


#MapLabel{
	text-align: center;
}




/*----------------------------------------------------------*/




/*-----------------------Weather-------------------------------*/


.weather {
	grid-area: weather;
	background-color: #b6e4bc;
	padding: 5px;
	margin-top: 3rem;
   }
  
   .townWeather {
	text-align: center;
   }


.weatherContainer {
	display: flex;
  }
  
  .weatherContent {
	flex: 1 1 100%;
  }
  
  .foreContainer {
	display: flex;
  }
  
  .childContainer {
	flex: 1 1 100%;
	border: 2px solid black;
	font-family: cursive;
	padding: 7px;
	font-size: 1rem;
	text-align: center;
  }
  
  .foreContent {
	align-content: center;
  }
  
  .weathertoday {
	padding: 3% 0px;
	text-align: center;
	margin: auto;
	
  }
  
  .threeTitle, .cTemp{
	text-align: center;
	color: #000000;
	font-size: 2rem;
  }
  
  .townWeather {
	color:#166831;
  }


#weathertitle{
	grid-area: weathertitle;
	font-size: 1.5rem;
}


.imageIcon{
	width: 60px;
}

.condition, .humidity{
	font-family: cursive;
}

#linkW{
	margin: auto;
}

/*----------------------------------------------------------*/

/*-----------------------Footer-------------------------------*/




.footer{
	background-image: linear-gradient( to right, #149c3d,  #8cce95);
	text-align: center;
	border: 2px solid white;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr .5fr;
	grid-column-gap: 10px;
	grid-template-areas: "fimage"
						 "ftitle"
						 "contactinfo"
						 "developerinfo";
}

.fimage{grid-area: fimage;
	margin-top: 1rem;
}

.ftitle{grid-area: ftitle;
font-size: 1rem;
justify-content: center;

}

.contactinfo{ grid-area: contactinfo;}

.developerinfo{ grid-area: developerinfo;
	font-size: 0.7rem;
	color: white;
	margin-left: 0.5rem;
}


 .item{
	background-color: white;
    min-height: 50px;
    min-width: 50px;
    position: relative;
    font-weight: bold;
    color: black;
    font-size: 20px;
 }

 .subitem{
    color: black;
 }


/*----------------------------------------------------------*/

/*-----------------------Order Page-------------------------------*/


#containerOrder{
	display: grid; 
	grid-template-columns: 100%;
	grid-template-rows: 1fr .5fr ;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
    margin-top: 1rem;
	grid-template-areas: "formHTML"
						 "footer"
						 ;
 }


.formHTML fieldset {
	margin: auto;
	margin-top: 2rem;
	border: 1px solid black;
	border-radius: 10px;
	padding: .5rem 2%;
	max-width: 60%;
	min-width: 300px;
}

label { 
    display: flex;
    width: 100%;
    text-align: left;
	margin: auto;
} 


.formHTML legend{
	font-weight: bold;
	color:#166831;
}

.formHTML label.top, .formHTML div{
	padding-top: 1rem;
	color:#166831;
	font-weight: bold;
}


.formHTML label.top input, .formHTML textarea{
	display: block;
	font-size: 1rem;
	border: solid 1px black;
	border-radius: 4px;
	padding: .50rem;
	width: 200%;
	background-color: rgba(0,0,0,0.1);
}


.formHTML input.submitBtn {
	border: none;
	background-image: linear-gradient( to right, #7c2319,  #000000);
	color: white;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 96%;
	max-width: 20rem;
}

.formHTML label.top input:required{
	border-left: red solid 6px;
}

.formHTML label.top input:required:valid {
	border-left: green solid 6px;
}

.titleform{
	grid-area: title;
	  border: solid 1px black;
	  border-radius: 4px;
	background-color: rgb(194, 70, 70);
  }


  .listcontainer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: .2fr .5fr .2fr .2fr .5fr .3fr;
	grid-column-gap: 10px;
	grid-template-areas: "input input"
						 "select list"
						 "select addBtn"
						 "specialInstr specialInstr"
						 "textArea textArea"
						 "submitBtn submitBtn"

  }

#select{
	grid-area: select;
}

 .input{
	grid-area: input;
	margin: auto;
	justify-content: center;
 }

.list{
	grid-area: list;
}
.addBtn{
	grid-area: addBtn;
	margin: auto;
	max-width: 100px;
	max-height: 40px;
}

#order1, #order2, #order3{
	display: block;
	font-size: 1rem;
	border: solid 1px black;
	border-radius: 4px;
	padding: .50rem;
	width: 100%;
	margin: 10px;
	background-color: rgba(0,0,0,0.1);
}

#sel3{
	text-align: center;
	font-size: 2rem;
	margin-top: -40px;
}


.specialInstr{
	grid-area: specialInstr;
	width: 100%;
	text-align: center;
	margin-top: 1rem;
}

.submitBtn{
	grid-area: submitBtn;
	margin: auto;
	max-width: 100px;
	max-height: 40px;
}


.orderDiv{
	font-family: cursive;
	text-align: center;
	max-width: 70%;
	margin: auto;
	margin-top: 2rem;
}



.orderTitle{
	font-size: 2rem;
	color: #149c3d;
}






.truck, .truck_picture{
    display: none;
   }




   
/*------------------ CONTACT US ---------------------*/

html{
	min-width: 500px;
}

#containerAboutUs{
	display: grid; 
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 0.5fr 1.4fr 1.4fr .6fr .5fr;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	margin-top: 1rem;
	grid-template-areas: 
						"title"
						"location"
						"contactusBox"
						"pointsofContact"
						"form2"
						"footer";
  }
  

.cformHTML{
	grid-area: form2;
}

	.locations{
		grid-area: location;
		text-align: center;
		font-size: 1rem;
	}

	#titlelocations{
		font-size: 1rem;
		color: #000000;
	}

	#maploc{
		max-width: 80%;
	}

  .contactusBox {
	grid-area: contactusBox;
	border: solid 1px black;
	border-radius: 8px;
	margin:2.6rem 0 0 0 ;
	height: 96%;
	padding: .5rem .5rem;
	font-size: 1rem;
	background-color: rgb(238, 238, 238);
	justify-content: center;
  }
  
  .cttTitle{
	font-size: 1.3rem;
	color: black;
	font-weight: bold;
	margin-left: 0.5rem;
  }
  
  .contactusTitle, #pointsTitle{
	font-size: 1.8rem;
	color: #149c3d;
	font-weight: bold;
	margin-left: 0.5rem;
	text-align: center;
	content: '\260E';
  }
  
  
  .pointsofContact{
	grid-area: pointsofContact;
	display: block;
	border: solid 1px black;
	border-radius: 8px;
	margin:2.6rem 0 0 0;
	height: 96%;
	padding: .5rem .5rem;
	font-size: 1rem;
	background-color: rgb(238, 238, 238);
	justify-content: center;
  }

.contactusForm{
	grid-area: title;
	  border: solid 1px black;
	  border-radius: 4px;
	  color: #149c3d;
	text-align: center;
  }
  
  #titlecontactusForm{
	color: #149c3d;
	font-weight: bold;
	font-style: oblique;
	font-size: 40px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: .75rem;
	
  }


  
.cformHTML fieldset {
	margin: 2rem 0;
	border: 1px solid black;
	border-radius: 10px;
	padding: .5rem 2%;
}

.cformHTML legend {
	color: #149c3d;
	margin: 0 1rem;
	padding: 0 .5rem;
	font-weight: bold;
}

.cformHTML label.top, .cformHTML div{
	display: block;
	padding-top: 1rem;
	color: #149c3d;
	font-weight: bold;
}


.cformHTML label.top input, .cformHTML textarea{
	display: block;
	font-size: 1rem;
	border: solid 1px black;
	border-radius: 4px;
	padding: .50rem;
	width: 100%;
	background-color: rgba(0,0,0,0.1);
}

.cformHTML label.sbs {
	display: block;
	padding: .75% 0;
}

.cformHTML input.submitBtn {
	border: none;
	background-image: linear-gradient( to right, #149c3d,  #8cce95);
	color: white;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 96%;
	max-width: 20rem;
}

.cformHTML label.top input:required{
	border-left: red solid 6px;
}

.cformHTML label.top input:required:valid {
	border-left: green solid 6px;
}



.sr-only{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
 }

 .abouttxt{
	font-family: cursive;
 }