@media only screen and (min-width: 950px) {
  
 
    #container{
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: .5fr .25fr .5fr .2fr 1fr .3fr;
      grid-column-gap: 10px;
      grid-row-gap: 20px;
      grid-template-areas:"hero hero hero"
                          "news join truck"
                          "fruits_picture join truck" 
                          "aTitle aTitle aTitle"
                          "about weather city"
                          "footer footer footer";
     }
  
  
    .hero{
      margin-top: 1rem;
      grid-area: hero;
    }
  
    .join{
      grid-area: join;
    }
  
    #juice_image{
      margin-top: 0;
    }
    #drinkTxt{
      margin-top: -300px;
    }
  
    .about{
      grid-area: about;
      border: 4px solid #149c3d;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
    }
  
    .city{
      grid-area: city;
      border: 4px solid #149c3d;
      display: block;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
    }
  
  
    .footer{
      grid-area: footer;
    }
  
    .weather{
      grid-area: weather;
    }
  
    hr.division{
      border: 2px solid green;
      width: 100%;
    }
  
    .fruits_picture{
      width: 100%;
    }
  
    .aTitle{
      grid-area: aTitle;
      display: grid;
      margin: auto;
      color: darkgreen;
    }
  
    .titleAbout{
      color: darkgreen;
      font-size: 3rem;
      margin: auto;
    }
  
  
    .boxNews{
      margin: 1rem 20px 1rem 20px;
  
    }
    #fruits1{
      margin-top: 2rem;
      min-width: 250px;
      height: 400px;
    }

    .truck, .truck_picture{
      display: block;
    }
  
    #truck1{
      width: 100%;
      margin: auto;
    }
     
.footer{
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr .2fr;
	grid-column-gap: 10px;
	grid-template-areas: "fimage ftitle contactinfo"
                       "developerinfo developerinfo developerinfo";

}



#containerOrder{
	display: grid; 
	grid-template-columns: 100%;
	grid-template-rows: 1.5fr .7fr ;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
    margin-top: 1rem;
	grid-template-areas: "formHTML"
						 "footer"
						 ;
 }






 

/*------------------ CONTACT US ---------------------*/


#containerAboutUs{
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.5fr 1.6fr 1fr .6fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  grid-template-areas: 
                      "title title"
                      "location location"
                      "pointsofContact contactusBox"
                      "form2 form2"
                      "footer footer";
}

.socialheader{
  width: 100%;
}

.locations{
  grid-area: location;
  text-align: center;
  font-size: 1rem;
}

.cformHTML{
  grid-area: form2;
  margin-right: 15rem;
  margin-left: 15rem;
}


form label.sbs{
  padding: .4rem 0;
}


.contactusBox {
  grid-area: contactusBox;
  border: solid 1px black;
  border-radius: 8px;
  margin:2.6rem 0 0 1rem ;
  width: 96%;
  height: 93%;
  padding: .5rem .5rem;
  font-size: 1.3rem;
  background-color: rgb(238, 238, 238);
  justify-content: center;
}

.cttTitle{
  font-size: 1.7rem;
  color: black;
  font-weight: bold;
  margin-left: 0.5rem;
}

.contactusTitle, #pointsTitle{
  font-size: 2.5rem;
	color: #149c3d;
  font-weight: bold;
  margin-left: 0.5rem;
  text-align: center;
  content: '\260E';
}


.pointsofContact{
  grid-area: pointsofContact;
  border: solid 1px black;
  border-radius: 8px;
  margin:2.6rem 0 0 1rem ;
  width: 96%;
  height: 93%;
  padding: .5rem .5rem;
  font-size: 1.3rem;
  background-color: rgb(238, 238, 238);
  justify-content: center;
}





  
    }
  