/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
  max-width: 95%;
  margin: 10%;
  min-width: 350px;
  
}

#container{
	display: grid; 
	grid-template-columns: 100%;
	grid-template-rows: .8fr 4rem 1fr 1fr 1fr 1fr 1fr 1fr 2fr ;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-areas: "header"
						 "banner"
						 "hero"
						 "news" 
						 "event"	
						 "weather"
						 "spotlight1"
						 "spotlight2"
						 "footer";
 }




.header{
	background-image: linear-gradient( to right, #7c2319,  #000000);
	text-align: center;
	border: 2px solid white;
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 1fr;
	grid-template-rows: 3fr 1fr;
	grid-column-gap: 10px;
	grid-template-areas: "nav himage title social "
						 "currentdate currentdate currentdate currentdate";
}


.himage{grid-area: himage;
	margin-top: 1rem;
}


#imglogo{width: 80px;
margin-left: 1rem;}

.title{grid-area: title;}

h1{
	font-size: 1rem;
	margin-top: 1rem;
	color: white;
	margin-left: 0.5rem;
}

h2{
	font-size: 0.7rem;
	color: white;
	margin-left: 0.5rem;
}

h3{
	font-size: 0.7rem;
	color: white;
	margin-left: 0.5rem;
}

h4{
	font-size: 0.7rem;
	color: white;
	margin-left: 0.5rem;
}


a{
	font-size: .7rem;
	color: white;
  }

.nav{grid-area: nav;
	font-size: 2rem;
	margin-top: 1rem;
	margin-left: 1.5rem;
	display: flex;
	max-height: 30px;
	position: absolute;
	margin-bottom: 1rem;
}

.social{grid-area: social;
	width: 20%;
}

.currentdate{grid-area: currentdate;
	background-color:#7c2319;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
	color: white;
}

svg{
	margin: .5rem;
	display: flex;
	width: 2rem;
	height: 2rem;
}


#banner{
	grid-area: banner;
	border: 2px solid black;
	box-shadow: 0 0 10px #7c2319;
	background-color: #000000;
}

#box-banner{
	font-size: 1rem;
	color: white;
	text-align: center;
	margin-top: 1rem;
}

.event{
	grid-area: event;
	border: 2px solid #b12415;
	box-shadow: 0 0 10px #7c2319;
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

#congressimg{
	display: block;
	max-width: 40px;
	margin-left: auto;
	margin-right: auto;
}


/*.hero{
	
	border: 2px solid #b12415;
	box-shadow: 0 0 10px #7c2319;
	background-image: url("../images/wdd230-org-200.jpg");
	background-size: cover;
}*/

#imgwdd230{grid-area: hero;
	max-width: 100%;
	width: 347px;
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.weather{
	grid-area: weather;
	border: 2px solid #b12415;
	box-shadow: 0 0 10px #7c2319;
	text-align: center;

}
#weathertitle, #windspeedtitle, #windchilltitle{
	font-size: 1.5rem;
	color: black;
	margin: auto;
}

.hilow{
	font-size: 1rem;
	margin: auto;
}
#temperature, #windspeed, #windchill{
	font-size: 1rem;
	color: red;
	margin: auto;
}

.join{
	grid-area: join; display: none;
	border: 2px solid #b12415;
	box-shadow: 0 0 10px #7c2319;}

.news{
	grid-area: news;
	border: 2px solid #b12415;
	box-shadow: 0 0 10px #7c2319;}

.spotlight1{
	grid-area: spotlight1;
	border: 2px solid #b12415;
	box-shadow: 0 0 10px #7c2319;}

.spotlight2{
	grid-area: spotlight2;
	border: 2px solid #b12415;
	box-shadow: 0 0 10px #7c2319;}

.spotlight3{
	grid-area: spotlight3; 
	display: none;
	border: 2px solid #b12415;
	box-shadow: 0 0 10px #7c2319;}

.footer{
	background-image: linear-gradient( to right, #7c2319,  #000000);
	grid-area: footer;
	text-align: center;
	border: 2px solid white;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr .5fr;
	grid-column-gap: 10px;
	grid-template-areas: "fimage"
						 "ftitle"
						 "contactinfo"
						 "developerinfo";
}

.fimage{grid-area: fimage;
	margin-top: 1rem;
}

.ftitle{grid-area: ftitle;
font-size: 1rem;}

.contactinfo{ grid-area: contactinfo;}

.developerinfo{ grid-area: developerinfo;
	font-size: 0.7rem;
	color: white;
	margin-left: 0.5rem;
}


 .item{
	background-color: white;
    min-height: 50px;
	max-height: 200px;
    min-width: 50px;
    position: relative;
    font-weight: bold;
    color: black;
    font-size: 20px;
 }

 .subitem{
    color: black;
    font-size: 20px;
 }

 
 nav ul.open{
	display: block;
  }


  nav ul{
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
  }



.box-titles{
	font-size: 1rem;
	color: black;
	text-align: center;

}

.box-p{
	font-size: .6rem;
	color: black;
	text-align: center;
	margin-bottom: 5rem;
	margin:.5rem;
}







#spcity{
	display: block;
	max-width: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -5px;
}




#sppictures{
	display: block;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

#spmap{
	display: block;
	max-width: 120px;
	margin-left: auto;
	margin-right: auto;
}



.pic1{
	grid-area: pic1;
	border: 2px solid #b12415;
	box-shadow: 0 0 10px #7c2319;
	text-align: center;
}



.join1{
	grid-area: join1;
	border: 2px solid #b12415;
	box-shadow: 0 0 10px #7c2319;}


.hero1{
	grid-area: hero1;
	border: 2px solid #b12415;
	box-shadow: 0 0 10px #7c2319;
	text-align: center;
}


.spotlight33{
	grid-area: spotlight33;
	border: 2px solid #b12415;
	box-shadow: 0 0 10px #7c2319;
	text-align: center;
}












#button span:nth-child(1) {display: block;}
#button span:nth-child(2) {display: none;}
#button.open span:nth-child(1) {display: none;}
#button.open span:nth-child(2) {display: block;}