@media only screen and (min-width: 45rem) {
  


#container{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4rem 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: "header header header"
              "event hero spotlight1"
              "weather hero spotlight2"
              "join news spotlight3"
              "footer footer footer";
  }


.header{
  background-image: linear-gradient( to right, #7c2319,  #000000);
  text-align: center;
  border: 2px solid white;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-column-gap: 10px;
  grid-template-areas: "himage title nav social "
              "currentdate currentdate currentdate currentdate";
}


.spotlight3{ 
	display: flex;
}

.social{
  margin-top: 2rem;
  margin-left: 2rem;
}

.footer{
  max-height: 10rem;
}




}