@media only screen and (min-width: 950px) {
  


  #container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .6fr 4rem 1fr 1fr 1fr .8fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "header header header"
                "banner banner banner"
                "event hero mbmCompanies"
                "weather hero mbmCompanies"
                "join news mbmCompanies"
                "footer footer footer";
    }



  .header{
    background-image: linear-gradient( to right, #7c2319,  #000000);
    text-align: center;
    border: 2px solid white;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas: "himage title nav social "
                "currentdate currentdate currentdate currentdate";
  }


  .himage{
    margin-top: 3rem;
  }


  h1{
    font-size: 2rem;
    margin-top: 3rem;
  }



  .social{
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .footer{
    max-height: 10rem;
  }

  
.footer{
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr .2fr;
	grid-column-gap: 10px;
	grid-template-areas: "fimage ftitle contactinfo"
                       "developerinfo developerinfo developerinfo";

}


.contactinfo{
  margin-top: 2rem;
  margin: auto;
}

.ftitle{
  margin-left: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

.fimage{
  margin-top: 2rem;
  margin-left: 1rem;
}


  #imgwdd230{
    grid-area: hero;
    max-width: 100%;
    height: 170%;
    
  }


  #container2{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .6fr 4rem 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "header header header"
                "banner banner banner"
                "event hero1 spotlight1"
                "weather1 pic1 spotlight2"
                "join1 news spotlight33"
                "footer footer footer";
    }

    .pic1{
      grid-area: pic1;
      border: 2px solid #b12415;
      box-shadow: 0 0 10px #7c2319;
      text-align: center;
    }


    .item{
      max-height: 400px;
    }




  li {
    display: inline;
    justify-content: center;
  }

  nav ul{
    display: block;
  }

  a{
    font-size: 1rem;
  }

  #button{
    display: none;
  }


  #ulList{
    margin-top: 2rem;
  }

.join{
  display: block;

}

.ftitle{
  margin-top: .7rem;
}

h3{
  font-size: 1.5rem;
}
h4{
  font-size: 1rem;
}

.developerinfo{
  margin-bottom: 1rem;
}



  /*------------------ FORM ---------------------*/


  #container3{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .4fr 0.2fr 2fr .6fr;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-template-areas: "header header"
                        "title title"
                        "form membershipbenefits"
                        "footer footer";
  }



  form label.sbs{
    padding: .4rem 0;
  }


  .membershipbenefits {
    grid-area: membershipbenefits;
    display: block;
    border: solid 1px black;
    border-radius: 8px;
    margin:2.6rem 0 0 1rem ;
    width: 96%;
    height: 83.5%;
    padding: .5rem .5rem;
    font-size: .9rem;
    background-color: #000000;
    color: white;
  }

  .mbmTitle{
    font-size: 1rem;
    color: white;
    font-weight: bold;
    margin-left: 0.5rem;
  }

  .mbmbenefitsTitle{
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
    margin-left: 0.5rem;
    text-align: center;
  }







/*------------------ DIRECTORY ---------------------*/

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.list {
	display: flex;
	flex-direction: column;
}

.list section {
	flex-direction: row;
}



  .list section img {
    width: 10%;
    height: 10%;
    
  }







/*------------------ CONTACT US ---------------------*/


#containerContactus{
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .3fr 0.2fr 1.6fr 1fr .6fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  grid-template-areas: "header header"
                      "title title"
                      "pointsofContact contactusBox"
                      "form2 form2"
                      "footer footer";
}


.cformHTML{
  grid-area: form2;
  margin-right: 15rem;
  margin-left: 15rem;
}


form label.sbs{
  padding: .4rem 0;
}


.contactusBox {
  grid-area: contactusBox;
  border: solid 1px black;
  border-radius: 8px;
  margin:2.6rem 0 0 1rem ;
  width: 96%;
  height: 93%;
  padding: .5rem .5rem;
  font-size: 1.3rem;
  background-color: rgb(238, 238, 238);
  justify-content: center;
}

.cttTitle{
  font-size: 1.7rem;
  color: black;
  font-weight: bold;
  margin-left: 0.5rem;
}

.contactusTitle, #pointsTitle{
  font-size: 2.5rem;
  color: red;
  font-weight: bold;
  margin-left: 0.5rem;
  text-align: center;
  content: '\260E';
}


.pointsofContact{
  grid-area: pointsofContact;
  border: solid 1px black;
  border-radius: 8px;
  margin:2.6rem 0 0 1rem ;
  width: 96%;
  height: 93%;
  padding: .5rem .5rem;
  font-size: 1.3rem;
  background-color: rgb(238, 238, 238);
  justify-content: center;
}







  /*---------------thanks page--------------*/

  #containerThanks{
    display: grid; 
    grid-template-columns: 100%;
    grid-template-rows: .8fr .5fr .6fr .3fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "header"
               "title"
               "thanksP"
               "workingH"
               "footer";
   }
  







}