@media only screen and (min-width: 630PX) {
  
  #container{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .6fr 4rem 1fr 1fr 1fr 1fr 1fr .6fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:"header header"
                        "banner banner"
                        "hero hero"
                        "news news"
                        "spotlight1 spotlight2"
                        "join join" 
                        "event weather"
                        "footer footer";
   }

   #imgwdd230{
    width: 100% ;
    height: 100%;
    margin: auto;
    padding: auto;
    justify-content: center;
   }

   #container2{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4rem 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "header header"
                "banner banner"
                "event event"
                "hero1 spotlight1"
                "weather pic1"
                "spotlight2 join1"
                "news spotlight33"
                "footer footer";
    }


.himage{grid-area: himage;
margin-top: 2rem;
}



#joinTxt{
	color: #000000;
	text-align: center;
  margin-top: 4rem;
  margin-right:auto;
  margin-left: auto;
  animation: animate 1s linear infinite;
  font-size: 2rem;
}

@keyframes animate {
  0% {
      color: red;
  }

  50% {
      color: #000000;
  }

  100% {
      color: red;
  }
}

.joinBtn{
	display: block;
	border: none;
	background-image: linear-gradient( to right, #7c2319,  #000000);
	color: white;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	width: 96%;
	max-width: 12rem;
	max-height: 3rem;
	margin: auto;
  font-size: 1.3rem;

}

.join{
  display: block;

}




.title{  
max-height: 6rem;
}

h1{
font-size: 2rem;
margin-top: 2rem;
color: white;
margin-left: 0.5rem;
}

h2{
font-size: 0.7rem;
color: white;
margin-left: 0.5rem;
}


h3{
	font-size: 1.3rem;
}

h4{
	font-size: 0.7rem;
	color: white;
	margin-left: 0.5rem;
}




.footer{
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr .2fr;
	grid-column-gap: 10px;
	grid-template-areas: "fimage ftitle contactinfo"
                       "developerinfo developerinfo developerinfo";

}


.contactinfo{
  margin-top: 2rem;
  margin: auto;
}

.ftitle{
  margin-left: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

.fimage{
  margin-top: 2rem;
  margin-left: 1rem;
}




.item{
  max-height: 300px;
 }

 #sppictures{
	opacity:0.5;
	transition: 1s ease;
	}
	
#sppictures:hover{
	opacity:1;
	transition: 1s ease;
	}


/*------------------ DIRECTORY ---------------------*/

main {
  max-width: 6500px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.portrait:hover{
  transform: scale(1.1);
}

#titleDirectory{
  font-size: 2.5rem;
}

} 






