@media only screen and (min-width: 630PX) {
  
  #container{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4rem 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:"header header"
                        "banner banner"
                        "hero hero"
                        "news news"
                        "spotlight1 spotlight2"
                        "join join" 
                        "event weather"
                        "footer footer";
   }



   #container2{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4rem 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "header header"
                "banner banner"
                "event event"
                "hero1 spotlight1"
                "weather pic1"
                "spotlight2 join1"
                "news spotlight33"
                "footer footer";
    }


.himage{grid-area: himage;
margin-top: 2rem;
}

/*.hero{
	background-image: url("../images/wdd230-org-400.jpg");
	background-size: cover;
}*/


.title{  
max-height: 6rem;
}

h1{
font-size: 2rem;
margin-top: 2rem;
color: white;
margin-left: 0.5rem;
}

h2{
font-size: 0.7rem;
color: white;
margin-left: 0.5rem;
}


h3{
	font-size: 1rem;
}

h4{
	font-size: 0.7rem;
	color: white;
	margin-left: 0.5rem;
}


   
.join{
	display: flex;
}


.footer{
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr .2fr;
	grid-column-gap: 10px;
	grid-template-areas: "fimage ftitle contactinfo"
                       "developerinfo developerinfo developerinfo";

}


.contactinfo{
  margin-top: 2rem;
  margin: auto;
}

.ftitle{
  margin-left: 2rem;
  justify-content: center;
}

.fimage{
  margin-top: 2rem;
  margin-left: 1rem;
}




.item{
  max-height: 300px;
 }

 #sppictures{
	opacity:0.5;
	transition: 1s ease;
	}
	
#sppictures:hover{
	opacity:1;
	transition: 1s ease;
	}


/*------------------ DIRECTORY ---------------------*/

main {
  max-width: 6500px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.portrait:hover{
  transform: scale(1.1);
}

#titleDirectory{
  font-size: 2.5rem;
}

} 






}