@media only screen and (min-width: 40rem) {
  
    main {
      margin: 0px;
    }

    h1, h2, h3, h4 {
      font-size: 2rem;
    }
    
    nav{
      margin-bottom: 8rem;
    }
    

    nav ul.open{
      display: block;
    }
  
    footer {
      margin: 10px 0px;
    }
  
  
    .footerTitle {
      text-align: center;
    }
    
    .contactInfo {
      text-align: center;
    }
      






























    
    .event {
      grid-column: 1/4;
      grid-row: 5;
    }
  
    .hero {
      grid-column: 1/5;
      grid-row: 1;
    }
  
    .nested {
      display: flex;
      grid-column: 1/5;
      grid-row: 3;
      border: 2px solid #b12415;
    }
  
    .spotlight1 {
      flex: auto;
      margin: 10px;
    }
  
    .spotlight2 {
      flex: auto;
      margin: 10px;
    }
  
    .weather {
      grid-column: 4/5;
      grid-row: 5;
    }
  
    .join {
      grid-column: 1/5;
      grid-row: 4;
    }
  
    .release {
      grid-column: 1/5;
      grid-row: 2;
    }
  
    .spotlight3 {
      display: none;
    }

    
  
  }

